body {
	margin:0px;
	padding:0px;
	font: 9pt "Trebuchet MS";
	background-color: #e1e1e1;
	color: #1a2025;
}
p {
	vertical-align: top;
	margin:0px;
	padding:0px;
}
form {
	padding:0px;
	margin:0px;
}
div.mainWrapper {
	padding-left: 220px;
	text-align: center;
}

div.smallWrapper {
	margin: 0 auto;
	text-align: left;
	width: 890px;
}
div.header {
	width: 890px;
	background-color: #e1e1e1;
	padding: 5px;
	border-bottom: #535c64 1px solid;
	height: 66px;
}
div.footer {
	width: 890px;
	padding: 5px;
	text-align: center;
	border-top: #535c64 1px solid;
	background-color: #e1e1e1;
}
div.content {
	width: 890px;
	padding: 5px;
}
h1.name {
	font: 20pt "Trebuchet MS";
	color: #324d62;
	font-weight:bold;
	margin: 0px;
}
h2.irc {
	color: #677076;
	font: 9pt "Trebuchet MS";
	margin: 0px;
}
h2.irc a {
	color: #677076;
}
div.separator {
	border-bottom: #535c64 1px solid;
}
a:visited { text-decoration: none; color: #CC6600; }
a:hover { text-decoration: underline; color: #FF952B; }
a { text-decoration: none; color: #CC6600; }
h2.heading {
	padding: 0px;
	margin: 0px;
}
p.contentPad {
	padding-left: 10px;
	margin:0;
}
table.anime {
	margin-left: 10px;
	text-align: left;
}
table.upload {
	font: 8pt "Trebuchet MS";
}
table.upload tr td {
	font: 8pt "Trebuchet MS";
}
input {
	font: 8pt "Trebuchet MS";
	background-color: #fff;
	border: 1px #535c64 solid;
}
tr.animeColumn {
	font: 12pt "Trebuchet MS";
	font-weight: bold;
	width: 650px;
}
th {
	border-bottom: 1px solid #535c64;
}
.anime0 {
	background-color: #e1e1e1;
	text-align: center;
	cursor: pointer;
}
.anime0:hover { background-color:#71808c; }
.anime0 td {
	padding:5px;
}
.anime1 {
	background-color: #bcbdbd;
	text-align: center;
	cursor: pointer;
}
.anime1:hover { background-color:#71808c; }
.anime1 td { padding:5px; }
#status
{
	width:220px;
	height:28px;
	padding:18px 10px 10px 10px;
	text-align:center;
	border: 1px solid;
	border-color:#535c64;
	display:none;
	background-color: #bcbdbd;
	vertical-align:middle;
}
.loading {
	background: url(load3.gif) no-repeat;
	vertical-align:middle;
	padding-left:26px;
	font-weight:bold;
}
.name { text-align: left;  padding:5px; }
.number, .date, .bytes, .number_green, .number_yellow, .number_red { text-align: center; padding:5px; white-space: nowrap; }
.number_green { color: #0e9b00;  padding:5px;}
.number_yellow { color: #ffb100;  padding:5px;}
.number_red { color: #ff0000;  padding:5px;}
.none { text-align: center; padding:5px; font-style: italic; }
.botlist {
	position: fixed;
	margin: 0px;
	padding: 0px;
	width: 220px;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	background-color: #454d53;
	border-right: #535c64 1px solid;
	overflow:auto;
}
.botlist h3 {
	font: 10pt "Trebuchet MS";
	font-weight:bold;
	padding:0px;
	margin:0px;
	border-bottom: #535c64 1px solid;
	color: #aab3b9;
}
.clear {
	clear:both;
}
#searchdiv {
	position: relative;
	top: 0px;
	left: 5px;
	border:1px solid #535c64;
	border-top:0px #e1e1e1 solid;
	border-right:0px #e1e1e1 solid;
	float:right;
	width:400px;
	background: #e1e1e1;
	margin-top:-6px;
	text-align:left;
	padding:10px;
}
.search {
	font-size:7pt;
	background:transparent;
	color: #34393d;
}
.default {
	color: #34393d;
}
#listtable {
	width: 900px;
}
