body {
	margin:0px;
	padding:0px;
	font: 9pt "Trebuchet MS";
	background-color: #EEEEEE;
	color: #000;
}
p {
	vertical-align: top;
	margin:0px;
	padding:0px;
}
form {
	padding:0px;
	margin:0px;
}
div.mainWrapper {
	padding-left: 220px;
	text-align: center;
}

div.smallWrapper {
	margin: 0 auto;
	text-align: left;
	width: 890px;
}
div.header {
	width: 890px;
	background-color: #EEEEEE;
	padding: 5px;
	border-bottom: #9fa3a4 1px solid;
	height: 66px;
}
div.footer {
	width: 890px;
	padding: 5px;
	text-align: center;
	border-top: #9fa3a4 1px dashed;
	border-bottom: #9fa3a4 1px dashed;
}
div.content {
	width: 890px;
	padding: 5px;
}
h1.name {
	font: 20pt "Trebuchet MS";
	color: #c53d6b;
	font-weight:bold;
	margin: 0px;
}
h2.irc {
	color: #9fa3a4;
	font: 9pt "Trebuchet MS";
	margin: 0px;
}
h2.irc a {
	color: #9fa3a4;
}
div.separator {
	border-bottom: #9fa3a4 1px solid;
}
a:visited { text-decoration: none; color: #c53d6c; }
a:hover { text-decoration: underline; color: #9fa3a4; }
a { text-decoration: none; color: #c53d6c; }

h2.heading {
	padding: 0px;
	margin: 0px;
}
p.contentPad {
	padding-left: 10px;
	margin:0;
}
table.anime {
	margin-left: 10px;
	text-align: left;
}
table.upload {
	font: 8pt "Trebuchet MS";
}
table.upload tr td {
	font: 8pt "Trebuchet MS";
}
input {
	font: 8pt "Trebuchet MS";
	background-color: #fff;
	border: 1px #9fa3a4 dashed;
}
tr.animeColumn {
	font: 12pt "Trebuchet MS";
	font-weight: bold;
	width: 650px;
}
th {
	border-bottom: 1px dashed #9fa3a4;
}
.anime0 {
	background-color: #EEEEEE;
	text-align: center;
	cursor: pointer;
}
.anime0:hover { background-color:#F2B7D2; }
.anime0 td {
	padding:5px;
	border-bottom: 1px dashed #9fa3a4;
}
.anime1 {
	background-color: #F1E6E6;
	text-align: center;
	cursor: pointer;
}
.anime1:hover { background-color:#F2B7D2; }
.anime1 td {	padding:5px;
	border-bottom: 1px dashed #9fa3a4;
}
#status
{
	width:220px;
	height:28px;
	padding:18px 10px 10px 10px;
	text-align:center;
	border: 1px solid;
	border-color:#F2B7D2;
	display:none;
	background-color: #F1E6E6;
	vertical-align:middle;
}
.loading {
	background: url(load2.gif) no-repeat;
	vertical-align:middle;
	padding-left:26px;
	font-weight:bold;
}
.name { text-align: left;  padding:5px; }
.number, .date, .bytes, .number_green, .number_yellow, .number_red { text-align: center; padding:5px; white-space: nowrap; }
.number_green { color: #0e9b00;  padding:5px;}
.number_yellow { color: #ffb100;  padding:5px;}
.number_red { color: #ff0000;  padding:5px;}
.none { text-align: center; padding:5px; font-style: italic; }
.botlist {
	position: fixed;
	margin: 0px;
	padding: 0px;
	width: 220px;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	background-color: #F1E6E6;
	border-right: #9fa3a4 1px dashed;
	overflow:auto;
}
.botlist h3 {
	font: 10pt "Trebuchet MS";
	font-weight:bold;
	padding:0px;
	margin:0px;
	border-bottom: #000 1px solid;
}
.clear {
	clear:both;
}
#searchdiv {
	position: relative;
	top: 0px;
	left: 5px;
	border:1px solid #9fa3a4;
	border-top:0px #EEEEEE solid;
	border-right:0px #EEEEEE solid;
	float:right;
	width:400px;
	background: #EEEEEE;
	margin-top:-6px;
	text-align:left;
	padding:10px;
}
.search {
	font-size:7pt;
	background:transparent;
	color:#000;
}
.default {
	color:#000;
}
#listtable {
	width: 900px;
}
